In [1]:
import pandas as pd
import datetime as dt
from wallet import Wallet
from option import Option
from stock import Stock
from strategy import Strategy
from data_gen import get_option_data

In [2]:
d_df = get_option_data()

In [3]:
d_df

,QUOTE_DATE,UNDERLYING_LAST,EXPIRE_DATE,DTE,STRIKE,C_ASK
0,2015-01-02 00:00:00,103.06,2015-01-02 00:00:00,0.0,85.0,18.40
1,2015-01-02 00:00:00,103.06,2015-01-02 00:00:00,0.0,90.0,13.57
2,2015-01-02 00:00:00,103.06,2015-01-02 00:00:00,0.0,92.0,11.58
3,2015-01-02 00:00:00,103.06,2015-01-02 00:00:00,0.0,92.5,11.08
4,2015-01-02 00:00:00,103.06,2015-01-02 00:00:00,0.0,93.0,10.48
...,...,...,...,...,...,...
21769,2015-01-30 00:00:00,101.08,2017-01-20 00:00:00,721.0,125.0,3.21
21770,2015-01-30 00:00:00,101.08,2017-01-20 00:00:00,721.0,130.0,2.27
21771,2015-01-30 00:00:00,101.08,2017-01-20 00:00:00,721.0,135.0,1.55
21772,2015-01-30 00:00:00,101.08,2017-01-20 00:00:00,721.0,140.0,1.02
21773,2015-01-30 00:00:00,101.08,2017-01-20 00:00:00,721.0,145.0,0.79

In [4]:
poor_wallet = Wallet()

In [5]:
print(poor_wallet)

amount: 0
call_options_buy:
<>
call_options_sell:
<>
stocks: <>

In [6]:
# strategy = Strategy(d_df, poor_wallet, pd.Timestamp(dt.date.fromisoformat('2015-01-02')))

In [7]:
strategy = Strategy(d_df, poor_wallet, pd.Timestamp('2015-01-02'), long_target_dte = 750)

In [8]:
print(strategy.wallet)

amount: -17.4
call_options_buy:
<option: qqq:
 strike:55.0
 expiration:2017-01-20 00:00:00
 (option at purchase:50.51,
 stock at purchase:103.06)>
call_options_sell:
<option: qqq:
 strike:70.0
 expiration:2015-01-30 00:00:00
 (option at purchase:33.11,
 stock at purchase:103.06)>
stocks: <>

In [9]:
print(strategy.wallet.call_options_sell[0].stock_price_at_purchase)

103.06

In [10]:
strategy.wallet.amount

-17.4

In [11]:
print(strategy.wallet.call_options_buy[0].strike_price)

55.0

In [12]:
one_day = d_df.loc[d_df.QUOTE_DATE == pd.Timestamp('2015-01-02')]

In [13]:
one_day

,QUOTE_DATE,UNDERLYING_LAST,EXPIRE_DATE,DTE,STRIKE,C_ASK
0,2015-01-02 00:00:00,103.06,2015-01-02 00:00:00,0.0,85.0,18.40
1,2015-01-02 00:00:00,103.06,2015-01-02 00:00:00,0.0,90.0,13.57
2,2015-01-02 00:00:00,103.06,2015-01-02 00:00:00,0.0,92.0,11.58
3,2015-01-02 00:00:00,103.06,2015-01-02 00:00:00,0.0,92.5,11.08
4,2015-01-02 00:00:00,103.06,2015-01-02 00:00:00,0.0,93.0,10.48
...,...,...,...,...,...,...
1110,2015-01-02 00:00:00,103.06,2017-01-20 00:00:00,749.0,125.0,3.85
1111,2015-01-02 00:00:00,103.06,2017-01-20 00:00:00,749.0,130.0,2.93
1112,2015-01-02 00:00:00,103.06,2017-01-20 00:00:00,749.0,135.0,2.08
1113,2015-01-02 00:00:00,103.06,2017-01-20 00:00:00,749.0,140.0,1.45
1114,2015-01-02 00:00:00,103.06,2017-01-20 00:00:00,749.0,145.0,1.00

In [14]:
one_day.tail(20)

,QUOTE_DATE,UNDERLYING_LAST,EXPIRE_DATE,DTE,STRIKE,C_ASK
1095,2015-01-02 00:00:00,103.06,2017-01-20 00:00:00,749.0,102.0,13.24
1096,2015-01-02 00:00:00,103.06,2017-01-20 00:00:00,749.0,103.0,12.69
1097,2015-01-02 00:00:00,103.06,2017-01-20 00:00:00,749.0,104.0,11.54
1098,2015-01-02 00:00:00,103.06,2017-01-20 00:00:00,749.0,105.0,11.64
1099,2015-01-02 00:00:00,103.06,2017-01-20 00:00:00,749.0,106.0,11.00
1100,2015-01-02 00:00:00,103.06,2017-01-20 00:00:00,749.0,107.0,10.06
1101,2015-01-02 00:00:00,103.06,2017-01-20 00:00:00,749.0,108.0,9.61
1102,2015-01-02 00:00:00,103.06,2017-01-20 00:00:00,749.0,109.0,9.62
1103,2015-01-02 00:00:00,103.06,2017-01-20 00:00:00,749.0,110.0,8.72
1104,2015-01-02 00:00:00,103.06,2017-01-20 00:00:00,749.0,111.0,8.63
1105,2015-01-02 00:00:00,103.06,2017-01-20 00:00:00,749.0,112.0,8.21
1106,2015-01-02 00:00:00,103.06,2017-01-20 00:00:00,749.0,113.0,7.50
1107,2015-01-02 00:00:00,103.06,2017-01-20 00:00:00,749.0,114.0,7.12
1108,2015-01-02 00:00:00,103.06,2017-01-20 00:00:00,749.0,115.0,6.76
1109,2015-01-02 00:00:00,103.06,2017-01-20 00:00:00,749.0,120.0,5.14
1110,2015-01-02 00:00:00,103.06,2017-01-20 00:00:00,749.0,125.0,3.85
1111,2015-01-02 00:00:00,103.06,2017-01-20 00:00:00,749.0,130.0,2.93
1112,2015-01-02 00:00:00,103.06,2017-01-20 00:00:00,749.0,135.0,2.08
1113,2015-01-02 00:00:00,103.06,2017-01-20 00:00:00,749.0,140.0,1.45
1114,2015-01-02 00:00:00,103.06,2017-01-20 00:00:00,749.0,145.0,1.00

In [15]:
one_day.loc[one_day.DTE <= 700]

,QUOTE_DATE,UNDERLYING_LAST,EXPIRE_DATE,DTE,STRIKE,C_ASK
0,2015-01-02 00:00:00,103.06,2015-01-02 00:00:00,0.0,85.00,18.40
1,2015-01-02 00:00:00,103.06,2015-01-02 00:00:00,0.0,90.00,13.57
2,2015-01-02 00:00:00,103.06,2015-01-02 00:00:00,0.0,92.00,11.58
3,2015-01-02 00:00:00,103.06,2015-01-02 00:00:00,0.0,92.50,11.08
4,2015-01-02 00:00:00,103.06,2015-01-02 00:00:00,0.0,93.00,10.48
...,...,...,...,...,...,...
1071,2015-01-02 00:00:00,103.06,2016-01-15 00:00:00,378.0,119.00,1.91
1072,2015-01-02 00:00:00,103.06,2016-01-15 00:00:00,378.0,119.63,1.78
1073,2015-01-02 00:00:00,103.06,2016-01-15 00:00:00,378.0,120.00,1.69
1074,2015-01-02 00:00:00,103.06,2016-01-15 00:00:00,378.0,124.63,0.97
1075,2015-01-02 00:00:00,103.06,2016-01-15 00:00:00,378.0,130.00,0.47

In [16]:
d_df.loc[d_df.DTE >= 700]

,QUOTE_DATE,UNDERLYING_LAST,EXPIRE_DATE,DTE,STRIKE,C_ASK
1076,2015-01-02 00:00:00,103.06,2017-01-20 00:00:00,749.0,55.0,50.51
1077,2015-01-02 00:00:00,103.06,2017-01-20 00:00:00,749.0,60.0,45.88
1078,2015-01-02 00:00:00,103.06,2017-01-20 00:00:00,749.0,65.0,41.00
1079,2015-01-02 00:00:00,103.06,2017-01-20 00:00:00,749.0,70.0,36.00
1080,2015-01-02 00:00:00,103.06,2017-01-20 00:00:00,749.0,75.0,32.45
...,...,...,...,...,...,...
21769,2015-01-30 00:00:00,101.08,2017-01-20 00:00:00,721.0,125.0,3.21
21770,2015-01-30 00:00:00,101.08,2017-01-20 00:00:00,721.0,130.0,2.27
21771,2015-01-30 00:00:00,101.08,2017-01-20 00:00:00,721.0,135.0,1.55
21772,2015-01-30 00:00:00,101.08,2017-01-20 00:00:00,721.0,140.0,1.02
21773,2015-01-30 00:00:00,101.08,2017-01-20 00:00:00,721.0,145.0,0.79